$small-size: 24px;
$default-size: 32px;
$medium-size: 44px;
$large-size: 64px;

.icon {
  display: inline-block;
  width: $default-size;
  height: $default-size;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &.is-small {
    width: $small-size;
    height: $small-size;
  }

  &.is-medium {
    width: $medium-size;
    height: $medium-size;
  }

  &.is-large {
    width: $large-size;
    height: $large-size;
  }
}

.icon-facebook {
  background-image: url("../../images/svg/facebook-logo.svg");
}

.icon-twitter {
  background-image: url("../../images/svg/twitter-logo-silhouette.svg");
}

.icon-clock {
  background-image: url("../../images/svg/clock.svg");
}

.icon-handchess {
  background-image: url("../../images/svg/handchess.svg");
}

.icon-trophy {
  background-image: url("../../images/svg/trophy.svg");
}

.icon-pdf-file-download {
  background-image: url("../../images/svg/pdf-file-download.svg");
}

.icon-zip-file-download {
  background-image: url("../../images/svg/zip-file-download.svg");
}

.icon-download {
  background-image: url("../../images/svg/download.svg");
}
