@import "~bulma/sass/utilities/initial-variables";

/** Colors */
$black:                 #000;
$primary:               #ff1212;
$secondary:             #383b4a;
$link:                  $primary;
$dark:                  #292929;

/** Text */
$family-primary:        "SF Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-size:        1em;
// $body-font-size:        0.875em;
$weight-normal:         400;
$weight-black:          800;

/** Card */
$card-header-shadow:    none;

/** Box Model  */
$spacer:                2rem;

/** Navbar */
$navbar-height:                         3 * $spacer;
$navbar-item-color:                     $white;
$navbar-item-hover-color:               $grey-lighter;
$navbar-item-hover-background-color:    transparent;
$navbar-item-active-color:              $white;
$navbar-item-img-max-height:            1.75 * $spacer;

/** Buttons */

/** Inputs */
$input-shadow:                          none;
$input-focus-border-color:              $grey-light;
$input-focus-box-shadow-color:          rgba($white-ter, 0.5);
$input-radius:                          $radius / 2;

/** Section */
$section-padding:        (1.5 * $spacer) ($spacer / 2);
$section-padding-medium: (2.5 * $spacer) (0.75 * $spacer);
