@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/cover";
@import "components/tabs";
@import "components/card";
@import "components/wp-classes";
@import "components/reference";
@import "components/heading";
@import "components/slide";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/hero";
@import "layouts/tinymce";
@import "pages/home";
@import "pages/press";
@import "pages/sponsors";
@import "pages/events";
@import "common/icons";
@import "common/helpers";
