.button {
  font-size: $small-font-size;
  font-weight: $weight-semibold;
  border-radius: 2px;
  box-shadow: none;
  min-width: 6 * $gap;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      &:hover,
      &.is-hovered {
        background-color: darken($color, 10%);
      }

      &:active,
      &.is-active {
        background-color: darken($color, 12.5%);
      }
    }
  }
}

.button.is-medium {
  height: 48px;

  @extend .button;
}

.button.is-large {
  height: 60px;

  @extend .button;
}

.button.is-text {
  color: $primary;
  text-decoration: none;

  span {
    border-bottom: 1px solid;
  }
}
