.card {
  border-radius: 2px;
  overflow: hidden;

  .attainment {
    height: 100%;
    background-color: $white;
    border-radius: $radius;

    &__title {
      font-size: 18px;
      font-weight: $weight-normal;
      margin-bottom: $gap;

      @include from($tablet) {
        padding-right: $gap;
      }
    }

    .details {
      margin-bottom: $gap;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      &__city {
        font-size: 13px;
        font-weight: $weight-bold;
        text-transform: uppercase;
        align-self: flex-end;
        padding-right: $gap;
      }

      &__year {
        font-size: $size-4;
        font-weight: $weight-bold;
        line-height: 1;
        color: $primary;
        text-align: right;
      }
    }

    .prize {
      color: $black;

      &__label {
        font-size: $size-4;
        font-weight: $weight-black;
      }

      &__description {
        display: block;
        clear: both;
      }
    }

    &--featured {
      background-color: $primary;

      .details__city {
        color: $grey-lighter;
      }

      .attainment__title,
      .details__year,
      .prize {
        color: $white;
      }
    }
  }

  .attainment-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @extend .card-content;
  }
}

.event-card {
  $root: &;

  position: relative;
  border-radius: 0;
  padding: $gap $gap 0;
  background-color: $white;
  transition: box-shadow 0.2s;

  &:hover {
    z-index: 1;
    box-shadow: 0 #{$gap / 8} #{$gap / 4} rgba($black, 0.1);
  }

  &:not(:last-child) {
    border-bottom: 1px solid $grey-lighter;

    @include from($tablet) {
      border: none;
    }
  }

  &__date {
    font-size: $size-3;
    font-weight: 200;
    line-height: 1;
    margin-right: $gap;
  }

  &__city {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $grey;
  }

  &__title,
  &__image,
  &__link {
    display: block;
    margin-bottom: $gap / 2;
  }

  &__title {
    margin-right: $gap;
  }

  &__link {
    float: right;
    line-height: 1;
    border-bottom: 1px solid;
  }

  &--upcoming {
    padding: $gap $gap 1.5 * $gap;

    #{$root}__title {
      margin-bottom: 0;
    }
  }

  &--overview {
    padding: $gap $gap / 2 0;
  }
}

.news-card {
  box-shadow: 0 0 40px 0 $grey-lighter;

  &:not(:last-child) {
    margin-bottom: 0.75 * $gap;
  }

  &__date {
    margin-bottom: $gap;
    color: $grey;
  }

  &__title {
    font-size: $size-4;
    margin-bottom: $gap;
  }

  &__content {
    margin-bottom: $gap;
    line-height: 1.8;
    color: $grey;
  }

  &__link {
    color: $primary;
  }

  .card-content {
    @include from($tablet) {
      max-width: 18 * $gap;
      padding: $gap (1.5 * $gap);
    }
  }
}

.news-card--featured {
  height: 100%;
  background-color: $primary;
  color: $white;

  .news-card__date {
    color: $white;

    @include from($desktop) {
      margin-bottom: 1.5 * $gap;
    }
  }

  .news-card__title {
    @include from($desktop) {
      font-size: $size-3;
      margin-bottom: 1.25 * $gap;
    }
  }

  .news-card__content {
    color: $white;

    @include from($desktop) {
      margin-bottom: 1.5 * $gap;
    }
  }

  .news-card__link {
    color: $white;
  }

  .card-content {
    @include from($desktop) {
      max-width: 100%;
      padding: 2.5 * $gap;
    }
  }
}

.achievement-card {
  background-color: $black;

  @include from($tablet) {
    background-color: rgba($dark, 0.8);
  }

  &:not(:last-child) {
    margin-bottom: 1px;

    @include from($tablet) {
      margin-bottom: $gap / 2;
    }
  }

  &__title {
    font-size: $size-3;
    font-weight: 200;
    line-height: 1;
    color: $primary;
    margin-bottom: $gap / 2;
  }

  &__content {
    font-size: $size-5;
    font-weight: 200;
    color: $white;
  }
}

.achivement-card-meta {
  @include from($tablet) {
    padding: $card-content-padding ($card-content-padding / 1.5);
    transform: translateY(-$card-content-padding);
    background-color: $black;
    text-align: center;
  }

  &__city {
    font-size: $body-size;
    font-weight: 200;
    line-height: 1;
    color: $white;
    margin-bottom: $gap / 4;
  }

  &__year {
    font-size: $size-3;
    font-weight: 100;
    line-height: 1;
    color: $white;
  }
}

.stat-card {
  position: relative;
  background-color: transparent;
  box-shadow: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    @include from($tablet) {
      border-right: 1px solid rgba($white, 0.15);
    }
  }

  &__number {
    display: block;
    font-weight: 300;

    @extend .is-display-2;
    @extend .has-text-primary;
  }

  &__label {
    display: block;
    font-weight: 300;
    color: $white;

    @extend .is-size-5;
  }

  .card-content {
    padding: $gap ($gap / 2);

    @include from($tablet) {
      padding: (2 * $gap) $gap;
    }
  }
}
