.card {
  border-radius: 2px;
}

.event-card {
  box-shadow: 0 0 0 1px $grey-lighter;

  &__city {
    width: 100%;
    text-align: right;
    color: $grey;
  }

  &__date {
    font-size: $size-3;
    line-height: 1;
    margin-bottom: $gap;
  }

  &__content {
    font-size: $size-6;
    color: $grey;
  }

  .card-header {
    padding: $gap (0.625 * $gap) 0;
  }

  .card-content {
    @include from($tablet) {
      padding: (0.625 * $gap) (1.875 * $gap) (1.5 * $gap);
    }
  }
}

.news-card {
  box-shadow: 0 0 40px 0 $grey-lighter;

  &:not(:last-child) {
    margin-bottom: 0.75 * $gap;
  }

  &__date {
    margin-bottom: $gap;
    color: $grey;
  }

  &__title {
    font-size: $size-4;
    margin-bottom: $gap;
  }

  &__content {
    margin-bottom: $gap;
    line-height: 1.8;
    color: $grey;
  }

  &__link {
    color: $primary;
  }

  .card-content {
    @include from($tablet) {
      max-width: 18 * $gap;
      padding: $gap (1.5 * $gap);
    }
  }
}

.news-card--featured {
  height: 100%;
  background-color: $primary;
  color: $white;

  .news-card__date {
    color: $white;

    @include from($desktop) {
      margin-bottom: 1.5 * $gap;
    }
  }

  .news-card__title {
    @include from($desktop) {
      font-size: $size-3;
      margin-bottom: 1.25 * $gap;
    }
  }

  .news-card__content {
    color: $white;

    @include from($desktop) {
      margin-bottom: 1.5 * $gap;
    }
  }

  .news-card__link {
    color: $white;
  }

  .card-content {
    @include from($desktop) {
      max-width: 100%;
      padding: 2.5 * $gap;
    }
  }
}

.achievement-card {
  background-color: $black;

  @include from($tablet) {
    background-color: rgba($dark, 0.8);
  }

  &:not(:last-child) {
    margin-bottom: 1px;

    @include from($tablet) {
      margin-bottom: $gap / 2;
    }
  }

  &__title {
    font-size: $size-3;
    font-weight: 200;
    line-height: 1;
    color: $primary;
    margin-bottom: $gap / 2;
  }

  &__content {
    font-size: $size-5;
    font-weight: 200;
    color: $white;
  }
}

.achivement-card-meta {
  @include from($tablet) {
    padding: $card-content-padding ($card-content-padding / 1.5);
    transform: translateY(-$card-content-padding);
    background-color: $black;
    text-align: center;
  }

  &__city {
    font-size: $body-size;
    font-weight: 200;
    line-height: 1;
    color: $white;
    margin-bottom: $gap / 4;
  }

  &__year {
    font-size: $size-3;
    font-weight: 100;
    line-height: 1;
    color: $white;
  }
}

.stat-card {
  position: relative;
  background-color: transparent;
  box-shadow: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    @include from($tablet) {
      border-right: 1px solid rgba($white, 0.15);
    }
  }

  &__icon {
    width: 2 * $gap;
    height: 2 * $gap;
    border: 1px solid $white;
    border-radius: 50%;
  }

  &__number {
    display: block;
    font-weight: 300;

    @extend .is-display-2;
    @extend .has-text-primary;
  }

  &__label {
    display: block;
    font-weight: 300;
    color: $white;

    @extend .is-size-5;
  }

  .card-content {
    padding: $gap ($gap / 2);

    @include from($tablet) {
      padding: (2 * $gap) $gap;
    }
  }
}
