/** Search form */
.search-form {
  @extend .field, .has-addons;
}

.search-form label {
  @extend .control;

  font-weight: normal;
}

.search-form .search-field {
  @extend .input;

  border-radius: 0 !important;
}

.search-form .search-submit {
  @extend .button, .is-info;
}

.input {
  &.is-large {
    height: 2 * $gap;
    padding: $gap / 2;
    font-size: $size-6;
  }
}

.textarea {
  &.is-large {
    min-height: 6 * $gap;
    padding: $gap / 2;
    font-size: $size-6;
  }
}

[class*="form-control-wrap"] {
  display: block;

  @extend .control;

  [class*="form-control"] {
    width: 100%;
    border: 1px solid $grey-lighter;
    border-radius: $input-radius;
    font-size: $size-6;
    outline: none;
    background: $white;

    @extend .input.is-large;
  }

  [class*="textarea"] {
    min-height: 6 * $gap;
  }

  [class*="tip"] {
    font-size: $size-7;
  }
}

form [class*="response-output"] {
  margin: 0 auto;
  border: none;

  @extend .notification;
}
