/** Search form */
.search-form {
  @extend .field, .has-addons;
}

.search-form label {
  @extend .control;

  font-weight: normal;
}

.search-form .search-field {
  @extend .input;

  border-radius: 0 !important;
}

.search-form .search-submit {
  @extend .button, .is-info;
}

.input {
  &.is-large {
    height: 2 * $gap;
    padding: $gap / 2;
    font-size: $size-6;
  }
}

.textarea {
  &.is-large {
    min-height: 6 * $gap;
    padding: $gap / 2;
    font-size: $size-6;
  }
}
