.ref {
  &__icon {
    flex-shrink: 0;
    margin-left: auto;
  }
}

.doc-ref {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $gap / 2;
  border-bottom: 1px solid $grey-lighter;
  transition: background-color 0.4s;

  &:hover {
    background-color: $white-ter;

    span {
      color: $primary;
    }
  }

  @include from($tablet) {
    padding: $gap;
  }
}
