.tabs {
  &.is-toggle {
    @include from($tablet) {
      margin-bottom: 0;
    }

    li {
      a {
        border: none;

        @extend .button.is-medium;
      }

      &:not(.is-active) {
        a {
          color: $primary;
          background-color: rgba($primary, 0.15);
        }
      }
    }

    li:first-child {
      a {
        border-radius: 2px 0 0 0;
      }
    }

    li:last-child {
      a {
        border-radius: 0 2px 0 0;
      }
    }
  }
}
