.footer {
  width: 100%;
  float: left;
  padding: 0;
  background-color: $white;
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:last-child) {
    @include from($desktop) {
      border-right: 1px solid $white-ter;
    }
  }

  .link {
    color: $grey;
  }

  .nav {
    list-style-type: none;
    margin: 0;

    .nav-item:not(:last-child) {
      margin-bottom: $gap / 2;
    }

    .nav-item a {
      @extend .link;
    }
  }
}

.widget-content {
  padding: 0 $gap;
  text-align: center;
  align-self: center;

  @extend .content;

  @include from($desktop) {
    width: 100%;
    text-align: left;
    align-self: flex-start;
  }

  &--centered {
    width: auto;

    @include from($desktop) {
      align-self: center;
    }
  }
}

.footer-logo {
  width: 100%;
  max-width: 9 * $gap;
}

.footer-widgets {
  @extend .section;

  @include from($desktop) {
    padding-top: 4 * $spacer;
    padding-bottom: 2 * $spacer;
  }
}

.footer-social {
  text-align: center;
  margin-bottom: 1.5 * $spacer;
  padding: 0 ($spacer / 2);

  @include from($desktop) {
    text-align: right;
  }

  .reference:not(:last-child) {
    margin-right: $gap / 8;
  }

  .icon {
    background-color: $dark;
    background-size: 50%;
    border-radius: 50%;
  }
}

.footer-copyright {
  font-size: 0.875rem;
  color: $grey-light;
  padding: 0 ($spacer / 2);
  background-color: $white-ter;

  p {
    white-space: nowrap;
  }
}
