.banner {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  .navbar {
    transition: background-color 0.2s;
  }

  .navbar-brand img {
    padding: 0 0.25rem;
  }

  .nav li {
    @extend .navbar-item;
  }

  .menu-item {
    display: flex;
    align-items: center;
    margin: 0 0.75rem;

    > a {
      padding: 0;

      @extend .navbar-item;
    }

    &:not(:last-child) {
      @include until($desktop) {
        margin-bottom: ($spacer / 2);
      }
    }

    @include until($desktop) {
      font-size: $size-3;
      font-weight: 600;
      justify-content: center;
    }

    @include until($tablet) {
      font-size: $size-4;
    }
  }

  .current-menu-item > a {
    border-bottom: 1px solid;

    @extend .navbar-item.is-active;
  }

  .navbar-menu {
    @include until($desktop) {
      box-shadow: 0 -#{$navbar-height} 0 rgba($black, 0.95);
      background-color: rgba($black, 0.95);
      padding-bottom: $navbar-height;
    }
  }
}

.navbar-burger {
  @include until($desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  span {
    position: relative;
    width: 32px;
    height: 2px;
    left: calc(50% - 16px);
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 2px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      top: 0;
      bottom: 0;
    }

    &:nth-child(2) {
      width: 24px;
      margin-left: 8px;
    }
  }

  &.is-active span {
    &:first-child {
      transform: translateY(8px) rotate(45deg);
    }

    &:last-child {
      transform: translateY(-12px) rotate(-45deg);
    }
  }

  &:not(.is-active) span:last-child {
    width: 16px;
    margin-left: 16px;
  }
}
